<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>人力资源管理系统</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="../../js/jquery/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../../js/bootstrap/css/bootstrap.min.css">
    <script src="../../js/bootstrap/js/bootstrap.min.js"></script>

</head>
<body class="login_bg">
    <div class="login_box">
        <div class="title">
            人力资源管理系统
        </div>
        <div class="login">
            <div class="info_box"><span class="name_label">用户名：</span><input type="text" placeholder="请输入用户名" class="input"></div>
            <div class="info_box"><span class="pass_label">密&nbsp;&nbsp;&nbsp;码：</span><input type="password"  class="input"></div>
            <div class="submit_box"><input type="reset" value="重置" class="button"> <input class="button" type="button" value="登录"></div>
        </div>
    </div>
</body>
</html>